extends layout

mixin projectblock(project)
  a.list-group-item(href='/projects/'+ project.project_id)
    h4.list-group-item-heading= project.project_name
    p.list-group-item-text Supervisor of the thesis: #{project.supervisor_name}
	  
block content
  div.inner.cover
    h1.cover-heading List of project proposals
    div.pre-scrollable
      for project in projects
        +projectblock(project)
block li_signout
  if(user)
    li
      a(href="/sign-out") Sign out
block li_signin
  if(!user)
    li
      a(href="/signin") Sign in