extends layout

block content
  div.inner.cover
    h1.cover-heading= project.project_name
    div Supervisor of the thesis: 
      a(href='https://www.uu.nl/staff/'+ project.supervisor_profile)= project.supervisor_name
    div= project.project_description
    
block li_signout
  if(user)
    li
      a(href="/sign-out") Sign out
block li_signin
  if(!user)
    li
      a(href="/signin") Sign in