extends layout

block content
  div.row.row-content.row-no-border
    div.col-xs-4.col-xs-offset-4
      form(class="form-signin", action="/signin" method="post")
        h2.form-signin-heading.text-center Please sign in
        label.sr-only(for="inputEmail") Your Email address 
        input.form-control#inputEmail(type="email", name="email", placeholder="Email address", required="", autofocus="") 
        label.sr-only(for="inputPassword") Password 
        input.form-control#inputPassword(type="password", name="password", placeholder="Password", required="")
        if(error.length>0)
          div.alert.alert-danger(role="alert")= error
        button.btn.btn-lg.btn-warning-2.btn-block(type="submit") Sign in
block nav
  li
    a(href="/")
      span.glyphicon.glyphicon-home(aria-hidden="true")
      span  Home 
  li
    a(href="/projects")
      span.glyphicon.glyphicon-list-alt(aria-hidden="true")
      span  Projects 
  li.active
    a(href="/signin")
      span.glyphicon.glyphicon-log-in(aria-hidden="true")
      span  Sign in