/*
 * Globals
 */
 
/*
 * Base structure
 */
 
html {
  position: relative;
  min-height: 100%;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
	font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
	background-color: white;
	background-image:url(../images/bg.jpg);
	margin-bottom: 60px;
}

/*
 * Header
 */

.navbar{
	background:black;
}
ul.navbar-nav li a{
	color:white;
	cursor: pointer;
}
ul.navbar-nav li.active  a,
ul.navbar-nav li a:hover{
	color:#ffcd00;
	background:none;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

/*
 * Footer
 */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; 
}

/*
 * Content
 */
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;
}
.row-no-border{
	border-bottom: 0px;
}
.row-less-space{
	padding-top:10px;
}
.row-footer{
    bottom:0;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

textarea:focus,
input:focus,
.uneditable-input:focus {   
  border-color: rgba(255, 205, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 205, 0, 0.6);
  outline: 0 none;
}
input.form-control {
	margin-bottom:10px;
}
.btn-warning-2 { 
border-color: #ffcd00; 
background-color: #ffcd00;
background-image: linear-gradient(to bottom,#ffcd00 0,#ffcd00 100%);
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}
.btn-warning-2:hover { 
border-color: #ffb900; 
background-color: #ffb900;
background-image: linear-gradient(to bottom,#ffb900 0,#ffb900 100%);
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}
a.list-group-item:hover,
li.list-group-item:hover{
	background-color: #ffcd00;
}
ul.do-drop li.list-group-item {
    padding: 1px 15px;
}
#chosen-projects-list{
	border: 3px dotted #ffcd00;
}
#chosen-projects-list li.list-group-item{
	background-color: #ffcd00;
}
.panel-warning>.panel-heading{
color:black;
border-color: #ffcd00; 
background-color: #ffcd00;
background-image: linear-gradient(to bottom,#ffcd00 0,#ffcd00 100%);
}
.panel-title{
	font-size:20px;
}
.vcenter {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}